.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}