select{
    border-radius: 5px;
}

select{
    color: white;
    background-color: #5865F2;
    padding: 5px;
    font-size: medium;
}
  
select:focus{
    width: 100%;
}
  
select:hover{
    background-color: #9098f7;
}