textarea{
    resize: none;
    font-size: 15px;
    background-color: #5865F2;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
  
textarea::placeholder{
    color: white;
}
  
textarea:focus{
    border: none;
    background-color: #9098f7;
}